body {
	font-family: sans-serif;
	background-color: #ffffff;
}

textarea {
	width: 300px;
}
.zapisek {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid black;
	width: 300px;
}
.nadpis {
	font-weight: bold;
	float: left;
}
.tlacitka {
	float: right;
}
.tlacitka form {
	display: inline;
}
.obsah {
	clear: both;
}